

### 第三方库

Python 拥有成千上万由独立开发者维护的第三方库！你可以通过 pip 安装这些库。**pip** 是 Python 官方推荐的软件包管理器，Python 3.4 及以上版本默认自带。建议在虚拟环境（如 `venv` 或 `conda` 环境）中安装和管理依赖。

#### pip 安装软件包

推荐在命令行中使用如下命令安装软件包：

```bash
python -m pip install package_name
```

这样可以避免多 Python 版本环境下的混淆。  
你也可以使用其他包管理工具，如 [Anaconda](https://www.anaconda.com/)、[mamba](https://mamba.readthedocs.io/)、[poetry](https://python-poetry.org/)、[pipenv](https://pipenv.pypa.io/) 等，具体选择可根据项目需求和团队习惯。

#### 使用 requirements.txt 文件

大型 Python 项目往往依赖多个第三方库。为了便于分享和复现环境，开发者通常会将依赖项列在 `requirements.txt` 文件中。例如：

```
beautifulsoup4==4.12.3
pytz==2024.1
requests==2.31.0
```

每行包含软件包名称和版本号。建议总是指定版本，以保证环境一致性。  
你可以用如下命令一次性安装所有依赖：

```bash
python -m pip install -r requirements.txt
```

此外，现代项目也常用 `pyproject.toml`（如 poetry/pdm）、`Pipfile`（pipenv）等方式管理依赖。

---

### 实用的第三方软件包（2025 推荐）

能够安装并导入第三方库非常重要，但更重要的是了解哪些库值得使用。以下是当前（2025 年）主流且实用的 Python 第三方库推荐：

- **IPython** - 更强大的交互式 Python 解释器
- **requests** - 简洁易用的 HTTP 网络请求库，适合访问 Web API
- **httpx** - 支持异步的现代 HTTP 客户端，适合高并发场景
- **Flask** - 轻量级 Web 应用与 API 框架
- **FastAPI** - 新一代高性能 Web API 框架，基于类型注解
- **Django** - 全功能 Web 应用框架，适合复杂项目
- **Beautiful Soup** - 解析 HTML/XML、网页数据抽取
- **lxml** - 高性能 XML/HTML 解析库
- **pytest** - 功能强大的测试框架
- **PyYAML** - 读写 YAML 文件
- **NumPy** - 科学计算基础库，N 维数组与线性代数
- **pandas** - 数据分析和数据结构库，DataFrame 非常强大
- **matplotlib** - 2D 绘图库，支持高质量图片输出
- **seaborn** - 基于 matplotlib 的统计数据可视化库
- **plotnine** - 基于 ggplot2 语法的绘图库（推荐替代 ggplot）
- **scikit-learn** - 机器学习与数据建模基础库
- **tqdm** - 进度条工具，适合循环可视化
- **Pillow** - 图像处理基础库
- **rich** - 终端美化与富文本输出
- **pytz** - 世界时区定义
- **Pygame** - 游戏开发模块集合

In [2]:
import pandas as pd
df = pd.read_csv("my_file.csv")
df

        1     0     0.1   0.0
0       2     2       1   0.1
1       3     4       4   0.2
2       4     6       9   0.3
3       5     8      16   0.4
4       6    10      25   0.5
..    ...   ...     ...   ...
994   996  1990  990025  99.5
995   997  1992  992016  99.6
996   998  1994  994009  99.7
997   999  1996  996004  99.8
998  1000  1998  998001  99.9

[999 rows x 4 columns]